@import url('https://www.mayoclinic.org/mayofonts/Fonts/mayo/fonts.css');
@import './tokens/css/_variables';

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: 'mayo-sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
