a {
    color: #0057b8;
    &:hover {
        text-decoration: none;
    }
}
:host(.button) a {
    text-decoration: none;
    border: 0;
    font-size: clamp(14px,1.8vw,18px);
    text-align: center;
    line-height: 40px;
    padding: 0 24px;
    display: inline-block;
    border-radius: 999vw;
    font-family: 'mayo-sans';
    @media (min-width: 768px) {
        line-height: 56px;
        padding: 0 40px;
    }
}

:host(.button.ghost.white) a {
    background: none;
    color: #fff;
    box-shadow: 0 0 0 1px #fff;
}

:host(.button.outlineblack) a {
    background: none;
    color: #000;
    border: 1px solid #000;
}

:host(.clickable) a {
    position: inherit;
    &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    }
}