.feature {
    .item {   
        
        
        .image {
            img {
                width: 100%;
                aspect-ratio: 3/2;
            }
        }   
    }
    

    // Large landing page feature 
    &[data-type="feature"] {
        .item {
            margin-bottom: 24px; 

            &:last-of-type {
                margin-bottom: 40px;
            }


            .image {
                margin-bottom: 100px;
            }   
            .content {
                margin-bottom: 100px;
            }
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center; 
                &:nth-child(even) {
                    .content {
                        order: 1;
                    }
                    .image {
                        order: 2;
                    }
                }                
                div {
                    width: calc(50% - 16px);
                    box-sizing: border-box;
                    &.content {
                        padding: 24px;
                        margin-bottom: 0;
                    }
                    &.image {
                        margin-bottom: 0;
                    }
                }
            }
        }
        h2 {
            font-size: clamp(55px,6.9vw,69px);
            font-family: 'mayo-display';
            margin: 0 0 8px 0;
        }
        p {
            font-size: clamp(18px,2.3vw,23px);
            font-family: 'mayo-sans';
            margin: 0 0 40px 0;
        }
    }

    // 3 columun supporting feature 
    &[data-type="support"] {
        .item {
            position: relative;
        }
        .feature-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 16px 16px;
            .image {
                margin-bottom: 12px;
            }   
            .content {
                margin-bottom: 30px;
            }

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr;
                .image {
                    margin-bottom: 32px;
                }   
            }
        }
        
        h2 {
            font-size: clamp(44px,5.5vw,55px);
            font-family: 'mayo-display';
            margin: 0 0 24px 0;
        }
        h3 {
            font-size: clamp(23px,2.9vw,29px);
            font-family: 'mayo-display';
            margin: 0 0 8px 0;
        }
        p {
            font-size: clamp(14px,1.8vw,18px);
            font-family: 'mayo-sans';
            margin: 0 0 8px 0;
        }
    }
}

.inline-multi-links {
    display: block;
    min-height: 1px;
    &:empty {
        display: none;
    } 
}
.inline-multi-links + .button {
    margin-top: 36px;
    display: block;
}
.inline-multi-links a {
    font-size: 18px;
    line-height: 1.5em;
    font-family: mayo-sans,arial,sans-serif;
    font-family: mayo-serif,arial,serif;
    padding-right: 12px;
    color: #0057b8;
}
.inline-multi-links a:hover {
    text-decoration: none;
}
.inline-multi-links span {
    display: block;
    margin-bottom: 12px;
    
    @media screen and (min-width: 1056px) {
        display: inline;
        margin-bottom: 6px;
    }
}


@media screen and (min-width: 1056px) {
.inline-multi-links a {
        font-size: 23px;
    }
    .inline-multi-links span:after {
        content: "|";
        padding-left: 12px;
        padding-right: 12px;
    }
    
}


